/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Lato");
@import 'animations.scss';

$max-wh: 100%;
$pageContainerHeight: 10%;


*{
    font-family: "Lato";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box;
    overflow: hidden;
}

body{
    width: 100vw;
    height: 100vh;
}

ul{
    list-style-type: none;
}

.pageContainer{
    width: 100vw;
    height: 100vh;
    .pageTitle{
        height: $pageContainerHeight;
        width: 100%;
    }
}

.arrow{      
    position: absolute;
    opacity: 0;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 50%;
    top: calc(50%);
    transform: translateY(-50%);
    background-color: #1947809f;
    z-index: 1000;
    overflow-y: hidden;
    display: table;
    .arrow-content{
        display: table-cell;
        vertical-align: middle;
    }
    &.left-arrow, &.right-arrow{
        font-size: 23px;
        color: whitesmoke;
    }
    &.left-arrow{
        left: 0;
        transform: translatey(-50%);
    }
    &.right-arrow {
        right: 0;
    };

    &.show-fade-in{
        animation: show-fade-in 0.75s ease;   
        opacity: 1; 
    }
}

.hide{
    opacity: 0;
}

.show{
    opacity: 1;
}

/*Animations*/

// .arrow{
//     &.show{
//         opacity: 1;
//         transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1);
//     }
// }
