/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Lato");
$max-wh: 100%;

*{
    font-family: "Lato";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}

ul{
    list-style-type: none;
}

