<div id="divPresentation">
    <h1>Ing.Francisco Gonzalez</h1>
    <h2>Fullstack Developer</h2>
    <div>
        <h4>
            <ul>
                <li>TNSA Solution Owner</li>
                <li>Software Sr Consultant at Integon CO</li>
                <li>Fullstack Freelancer</li>
            </ul>            
        </h4>        
    </div>
</div>



<div id="divProfile">
    <p>
        Soy un desarrollador freelancer fullstack que ha decidido ampliar sus horizontes y ver mas halla, buscando un mejor futuro en el campo.      
    </p>
    <p>
        Soy Fundador y propietario de la empresa TNSA Solutions SAS de CV en Mexico el cual se encarga de trabajar en el mismo campo del diseño web y desarrollo de apps
    </p>
    <p>
        Ademas de ello trabajo de manera parcial como Senior Consultant en Integon CO.
    </p>
    
</div>

<div id="divProfilePic">
    <figure>
        <img src="assets/imgs/profilepic.jpg">
    </figure>
</div>