
@import '../../../styles.scss';

$pageTextHeight: 4em;

$rectanglesHeight: 100vh;
$rectangleWidth: 100px;
$rectangleSidesMargin: calc(20px / 6);
$rectangleMargin: 1em $rectangleSidesMargin;
// $rectangleGroupWidth: calc(calc($rectangleWidth + $rectangleSidesMargin + 2px) * 3);
$rectangleGroupWidth: calc(calc($rectangleWidth * 3) + calc($rectangleSidesMargin * 6));

.pageContainer{
    .pageText{
        padding: 0 0.5em;
        width: 100%;
        opacity: 0;
        &.show-fade-in{
            opacity: 1;
        }
    }
    .pageTitle{
        padding: 1.5em 0.5em;
        opacity: 0;
        &.transition-start{
            opacity: 1;
        }
    }
}

.rectangles{
    width: 100%;
    height: $rectanglesHeight;
    position: absolute;
    top: 0;
    // margin-top: 2.5%;
    .rectangleGroup{   
        float: left;  
        height: 300px;
        max-height: 300px;
        min-width: 350px;
        // max-width: $rectangleGroupWidth;
        // padding-top: calc(40% - 22px);
        position: absolute;
        top: calc(50%);
        left: 50%;
        transform: translate(-50%, -50%);
        .rectangleGroupTitle{
            text-align: center;
        }   
        .rectangleContainer{
            // opacity: 0;
            display: block;
            height: 250px;
            width: 100%;
            // float: left;
            margin: auto;
            .rectangleRow{
                width: $rectangleGroupWidth;
                display: block;
                margin: auto;
            }
            .rectangle{
                height: 50px;
                width: $rectangleWidth;
                float: left;
                // border: 1.5px solid rgb(119, 119, 119);
                color: whitesmoke;
                font-weight: 500;
                /*On Lightmode*/
                // background-color: #164E57;
                /*On Darkmode*/
                background-color: #1f72819f;
                border-radius: 5px;
                display: table;
                margin: $rectangleMargin; 
                p{
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                    color: rgb(61, 235, 235);
                }
            }
            
        }

    }
}

/*For Animations*/
/*Hide and keep showing at startof line*/
.rectangleGroup{
    &.one{
        .rectangleGroupTitle{
            opacity: 0;
            &.show{
                &.transition-left{
                    opacity: 1;
                }
            } 
               
        }
        .rectangleContainer{
            opacity: 0;
            &.bounce-start{
                opacity: 1;            
            }
        } 
    }    
} 

/*For change at click on arrow*/
.rectangleGroup{
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    &.active{
        transform: translate(-50%, -50%);
    }
    &.noActive{
        opacity: 0;
        &.l{
            transform: translate(-150vw, -50%);
        }
        &.r{
            transform: translate(100vw, -50%);
        }
    }
}

.arrow{
    transform: translateY(-60%) !important;
}




