<div class="pageContainer">    
    <div class="pageTitle">
        <h3>SKILLS</h3>
    </div>
    <div class="pageText">
        <h4>Las diferentes skills con la que he tenido experiencia y he trabajado a lo largo de mi carrera son las siguientes</h4>

        PD: Meter flecas en mismo componente que los rectangulos, hacer el rectangles como position relative y los arrows dentro como absolute, al igual que el rectangulo de informacion
    </div>
    <div class="rectangles">
        <div class="arrow left-arrow" [innerHTML]="'<'">
        </div>
        <div class="arrow right-arrow" [innerHTML]="'>'">
        </div>
        <div class="rectangleGroup one">
            <h3 class="rectangleGroupTitle">
                Web Design
            </h3>
            <div class="rectangleContainer">
                <div class="rectangle">
                    <p>HTML</p>
                </div>
                <div class="rectangle">
                    <p>CSS</p>
                </div>
                <div class="rectangle">
                    <p>JavaScript</p>
                </div>
                <div class="rectangle">
                    <p>Angular</p>
                </div>
                <div class="rectangle">
                    <p>SASS</p>
                </div>
                <div class="rectangle">
                    <p>Typescript</p>
                </div>
                <div class="rectangle">
                    <p>JQuery</p>
                </div>
                <div class="rectangle">
                    <p>Material Design</p>
                </div>
                <div class="rectangle">
                    <p>Responsive Design</p>
                </div>
            </div>            
        </div>
        <!-- <div class="rectangleGroup">
            <h3 class="rectangleGroupTitle two">
                Software Development
            </h3>
            <div class="rectangleContainer bounce-start">
                <div class="rectangle">
                    <p>C#</p>
                </div>
                <div class="rectangle">
                    <p>VB.Net</p>
                </div>
                <div class="rectangle">
                    <p>ASP.Net Core</p>
                </div>        
                <div class="rectangle">
                    <p>PHP</p>
                </div>
                <div class="rectangle">
                    <p>Java</p>
                </div>
                <div class="rectangle">
                    <p>Python</p>
                </div>
            </div>            
        </div>
        
        <div class="rectangleGroup">
            <h3 class="rectangleGroupTitle three">
                Mobile Software Development
            </h3>
            <div class="rectangleContainer bounce-start">
                <div class="rectangle">
                    <p>Xamarin</p>
                </div>
                <div class="rectangle">
                    <p>Android Studio</p>
                </div>        
                <div class="rectangle">
                    <p>Xcode</p>
                </div>
                <div class="rectangle">
                    <p>Swift </p>
                </div>
            </div>
        </div>
        <div class="rectangleGroup">
            <h3 class="rectangleGroupTitle four">
                Database Development
            </h3>
            <div class="rectangleContainer bounce-start">
                <div class="rectangle">
                    <p>SQL Server</p>
                </div>
                <div class="rectangle">
                    <p>MySql</p>
                </div>
                <div class="rectangle">
                    <p>FireBird DB</p>
                </div>
            </div>            
        </div>
        <div class="rectangleGroup">
            <h3 class="rectangleGroupTitle five">
                Others
            </h3>
            <div class="rectangleContainer bounce-start">
                <div class="rectangle">
                    <p>GIT</p>
                </div>
                <div class="rectangle">
                    <p>GIT HUB</p>
                </div>
                <div class="rectangle">
                    <p>And More...</p>
                </div>
            </div>            
        </div>                 -->
    </div>
</div>

