<a class="navBars">
    <span class="navBar topBar"></span>
    <span class="navBar"></span>
    <span class="navBar bottomBar"></span>
</a>

<nav>
    <ul>
        <li>
            <a href="#">Inicio</a>
        </li>
        <li>
            <a href="">Acerca</a>            
        </li>
        <li>
            <a href="">Habilidades</a>            
        </li>
        <li>
            <a href="">Experiencia</a>            
        </li>
        <li>
            <a href="">Clientes</a>            
        </li>
        <li>
            <a href="">Contacto</a>            
        </li> 
    </ul>
</nav>
