<a class="navBars">
    <span class="navBar topBar"></span>
    <span class="navBar"></span>
    <span class="navBar bottomBar"></span>
</a>

<nav>
    <ul>
        <li *ngIf="isMobile">
            <a skipLocationChange routerLink="/">Inicio</a>
            <!-- <ng-template #isPc>
                <a *ngIf="isMobile else isPc" routerLink="/">Inicio</a>
            </ng-template> -->
        </li>
        <li>
            <!--  -->
            <a skipLocationChange routerLink="/about" [textContent]="'Acerca'"></a>            
        </li>
        <li>
            <a skipLocationChange routerLink="/skills" [textContent]="'Habilidades'"></a>            
        </li>
        <li>
            <a skipLocationChange routerLink="/experience"[textContent]="'Experiencia'"></a>            
        </li>
        <li>
            <a skipLocationChange routerLink="/clients" [textContent]="'Clientes'"></a>            
        </li>
        <li>
            <a href="">Contacto</a>            
        </li> 
    </ul>
</nav>
